
<ul class="nav nav-pills nav-bot">
  <li role="presentation" class="tab-page-header active" onclick="showTab('console',this);" tab="stats"><a>Console</a></li>
  <li role="presentation" class="tab-page-header" onclick="showTab('packet',this);" tab="stats"><a>Sniffer</a></li>
  <li role="presentation" class="tab-page-header" onclick="showTab('map',this);" tab="map"><a>Carte</a></li>
  <li role="presentation" class="tab-page-header" onclick="showTab('trajet',this);" tab="state"><a>Trajet</a></li>
  <li role="presentation" class="tab-page-header" onclick="showTab('config',this);" tab="config" class=""><a>Configuration</a></li>
</ul>
<div style="height:100%" class="tab-pages">
	<div style="height:100%; padding-top:20px;" class="page-content tab-page-stats">
		<div style="text-align: center;"class="col-xs-3 placeholder">
		  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
		  <h4>Label</h4>
		  <span class="text-muted">Something else</span>
		</div>
		<div style="text-align: center;"class="col-xs-6 placeholder">
			<ul class="stats-list">

			</ul>
		</div>
	</div>
	<div style="height:100%; padding-top:20px;" class="page-content tab-page-map">
		<canvas class="mapCanvas" style="width:100%; height:100%;"></canvas>
	</div>
	<div style="height:100%; padding-top:20px;"  class="page-content tab-page-trajet">
		<textarea class="trajet-text" style="color:black;width:100%;" rows="15">{"trajet":{"fights":[{"map":84674054, "dir":"right"},{"map":84674566, "dir":"top"},{"map":84674565, "dir":"right"},{"map":84675077, "dir":"right"},{"map":84675589, "dir":"right"},{"map":84676101, "dir":"top"},{"map":84676100, "dir":"top"},{"map":84676099, "dir":"left"},{"map":84675587, "dir":"top"},{"map":84675586, "dir":"left"},{"map":84675074, "dir":"left"},{"map":84674562, "dir":"left"},{"map":84674050, "dir":"bottom"},{"map":84674051, "dir":"right"},{"map":84674563, "dir":"bottom"},{"map":84674564, "dir":"bottom"},{"map":84674565, "dir":"bottom"}],"recolte":[],"interactives":[],"moves":[]}}</textarea>
		<button class="btn btn-success btn-trajet-load">Charger</button>
		<button class="btn btn-danger" onclick="trajetStartStop(this)">Demarer</button>
	</div>
	<div style="height:100%; padding-top:20px;"  class="page-content tab-page-config">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span>Pile de sorts</span>
			</div>
			<div class="panel-body">
				<ul class="spells-list list-group">
					<li>En attente ...</li>
				</ul>
				<ul class="spells-pile-list list-group">
				</ul>
				</br>
        <button client="" groupe="" onclick="savePile(this)" class="btn-save-pile btn btn-primary">Enregistrer</button>
        <button client="" groupe="" onclick="clearPile(this)" class="btn-clear-pile btn btn-primary">Vider</button>
			</div>
		</div>
	</div>
	<div style="height:100%; overflow-x:hidden; overflow-y:scroll; padding-top:20px;"  class="page-content tab-page-console  tab-page-active">
		<p class="console-content">
		</p>
	</div>
	<div style="height:100%; overflow-x:hidden; overflow-y:scroll; padding-top:20px;"  class="page-content tab-page-packet">
		<p class="packet-content">
		</p>
	</div>
</div>
