<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"></meta>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="js/uiClient.js"></script>
		<script src="js/mainViewControler.js"></script>
		<script src="js/botViewControler.js"></script>
		<script src="js/viewsEditor.js"></script>
		<script src="js/compoments/mapViewer.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="css/global.css"></style>
		<link rel="stylesheet" href="css/bot.css"></style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar bot-header-sidebar">
				  <ul class="nav nav-sidebar" id="nav-main-controls">
					<li><a style="text-align: left;" onclick="mainVieLoadClient()" class="btn btn-danger" href="#"><span style="float:right;" class="glyphicon glyphicon-pawn"></span>Charger un client</a></li>
					<li><a style="text-align: left;" onclick="mainVieLoadGroupe()" class="btn btn-danger" href="#"><span style="float:right;" class="glyphicon glyphicon-king"></span>Charger un groupe</a></li>
				  </ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<h3 id="no-client-header" style="margin-top: 50%;text-align: center;line-height: 0;">Aucun client connecté</h3>
				</div>
			</div>
		</div>
		<div id="window-container">
			<div id="dark-mask"></div>
			<div class="win win-load-client">
				<div class="input-group-container">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
					  <input id="username-input" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
					</div>
					</br>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-asterisk"></span></span>
					  <input id="password-input" type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
					</div>
				</div>
				</br>
				<div>
					<button style="float;" onClick="mainViewLoadClientConfirm();" class="btn btn-primary">Charger</button>
					<button style="float:right" onClick="mainViewLoadClientCancel();" class="btn btn-primary">Annuler</button>
				</div>
			</div>
			<div class="win add-spell-win">
				<div class="input-group-container">
					<div class="input-group">
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="spell-added-destination" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span actionId="0" id="add-spell-cible">Sur les ennemies</span>
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" id="add-spell-cible-drop" aria-labelledby="spell-added-destination">
							<li actionId="0" ><a href="#">Sur les ennemies</a></li>
							<li actionId="1" ><a href="#">Sur les alliés</a></li>
							<li actionId="2" ><a href="#">Sur moi</a></li>
							<li actionId="3" ><a href="#">A coté des ennemies</a></li>
							<li actionId="4" ><a href="#">A coté des alliés</a></li>
							<li actionId="5" ><a href="#">A coté de moi</a></li>
							<li actionId="6" ><a href="#">Sur moi a cotee des ennemies</a></li>
						  </ul>
						</div>

					</div>
				</div>
				</br>
				<div>
					<button style="float;" onClick="addSpellConfirm();" class="btn btn-primary">Ajouter</button>
					<button style="float:right" onClick="hideWin('.add-spell-win');" class="btn btn-primary">Annuler</button>
				</div>
			</div>
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>
