/*global*/
body{
	background-color:#404040;
	color:#dadada;
	height:100vh;
}

a, a:visited{
	color:#dadada;
}
/*bootstrap global*/
.btn-danger{
	background-color: #790000 !important;
	border-color:#4a0000;
}
.btn-danger:hover,
.btn-danger:active{
	background-color: #9a0000 !important;
	border-color:#4a0000;
}
/*sidebar*/
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
	top: 0px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #252525;
    border-right: 1px solid #790000;
}
.nav-sidebar a:hover,
.nav-sidebar a:visited,
.nav-sidebar a:active,
.nav-sidebar .active {
  	background-color:rgba(121, 0, 0, 0.62) !important
}

.nav-sidebar {
  margin-right: -21px;
  margin-left: -20px;
}
.nav-sidebar > li{
	cursor:pointer;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.panel-primary{
	border-radius: 0px;
    border-color: #790000!important;
}
.panel-heading{
	border-radius: 0px;
	color: #dadada!important;
    background-color: #252525!important;
	border-color:#790000!important;
}
.panel-body{
	background-color:#6d6d6d!important;
}
/*
 * Main content
 */
.nav-bot{
    padding-left: 20px;
	top: 0;
    position: absolute;
    left: 0;
    background-color: #252525;
    width: 100%;
    border-bottom: 1px solid #790000;
}
.bot-view{
	display:none;
	height:100%;
}
.nav-bot>li>a{
	border-radius:0px;
	cursor:pointer;
}
.nav-bot>li.active>a, .nav-bot>li.active>a:focus, .nav-bot>li.active>a:hover {
	color:#dadada;
    background-color: #790000!important;
	border-radius:0px;
}
.nav-groupe-header{
	padding-left: 15px;
}
.main {
    height: 100vh;
	padding-left: 0px;
	padding-right:0px;
}
.page-content{
	padding: 20px;
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.nav-pills>li {
    float: right;
}
.placeholder {
  margin-bottom: 20px;
}
.tab-pages{
	padding-top:40px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/*Popup window*/
.win{
	box-shadow: 0px 0px 10px #252525;
    border: 1px solid #790000;
	display: none;
    padding: 20px;
    z-index: 10020;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #252525;
}

.win-load-client{
	width: 400px;
    height: 182px;
    margin-left: -200px;
	margin-top:-91px;
}

.page-content{
	display:none;
}
.tab-page-active{
	display:block;
}
#dark-mask{
	width: 100%;
    height: 100vh;
    z-index: 10010;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: black;
	display:none;
}
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
